@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family:PT Sans;
}