body {
  @apply bg-gray-100 flex items-center justify-center min-h-screen;
}

input::placeholder {
  @apply text-gray-800;
}

input {
  color: black;
}

button:hover {
  @apply bg-blue-500;
}

button:focus {
  @apply outline-none ring-2 ring-teal-300;
}
